<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="../static/css/index.css">
        <script src="https://kit.fontawesome.com/c472cc2087.js" crossorigin="anonymous"></script>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
        </style>
    </head>
    <body>
        <button class="openside-btn" id="openside-btn" style="display: none;">
            <img src="../static/img/sidebar.png" style="height:100%;width:100%;object-fit: contain; ">                           
        </button>
        <div class="main" id="main">
            <div class="side" id="side">
                <div class="side-btn">
                    <button id="closeside-btn">
                        <img src="../static/img/cancel.png" style="transform: rotate(45deg);height:50%;width:50%;object-fit: contain;">                           
                    </button>
                </div>
                <button class="new_chat">
                    <span>Begin New Chat</span>
                    <div style="height: 15px;width:15px">
                        <img src="../static/img/image.png" style="height:100%;width:100%;object-fit: contain;">                            
                    </div>
                </button>
                <div class="search-recent">
                    <div class="search-input">
                        <img src="../static/img/search.png" style="height:15px;width:15px;object-fit: contain;margin-left: 10px;">
                        <input type="text" placeholder="Search">
                    </div>
                    <span style="width:90%;text-align: left;margin-top: 15px; color: #ffffff; font-size: 14px;">Recent Chats</span>
                    <div class="chat-titles-display" id="titles">
                        <!-- <div class="title-template">
                            <div class="title-first">
                                <img src="../static/img/msg.png" >
                                <span>aksjdhflsakjdflkjsahfkjsahdfkajh</span>
                            </div>
                            <button>
                                <img src="../static/img/dots.png" style="height:100%;width:100%;object-fit: contain;">
                            </button>
                        </div> -->
                        
                        
                    </div>
                </div>
                <div class="user-profile">
                    <div style="display: flex;flex-direction: row;align-items: center;gap:10px">
                        <img src="../static/img/user.png">
                        <span>User Profile</span>
                    </div>
                    <img src="../static/img/settings.png">
                    
                </div>
            </div>
            <div class="main-content" id="main-content">
                <div class="nav" id="nav">
                    <div class="name">
                        <span>Negotio</span>
                    </div>
                    <div class="tools">
                        <div class="background-indicator"></div>
                        <a href="#general" id="general-call" class="tool-name" data-target="general">
                            <span>General</span>
                        </a>
                        <!-- <a href="#voice" id="voice-call" class="tool-name" data-target="voice">
                            <span>Voice</span>
                        </a> -->
                        <a href="#about" id="about-call" class="tool-name" data-target="about">
                            <span>About</span>
                        </a>
                        <a href="#contact_us" id="contact_us-call" class="tool-name" data-target="contact_us">
                            <span>Contact us</span>
                        </a>
                    </div>
                    
                    <div class="home-btn">
                        <!-- <img src="../static/img/home.png" style="height:20px;width:20px;object-fit: contain;" id="reset-ui"> -->
                    </div>
                </div>
                <div class="changer">
                    <div class="general content-section" id="general" data-section="general" >
                        <div class="chat-content-display" id="chat-content-display">
                            <div class="msg-contain" id="msg-contain">
                                <!-- <div class="send">
                                    <span>ia! Provident!                            </span>
                                    <img src="../static/img/user.png">
                                </div>
                                <div class="receive">
                                    <img src="../static/img/spark.png">
                                    <div class="receive_div"> 
                                        <span>chapter:1</span>
                                        <span>verse:8</span>
                                        <span id="sanskrit">अनाधृष्याः युध्य सुस्थिराः सारसंग्रामेषु</span>
                                        <span id="sanskrit">translation</span>
                                        <span>answer</span>
                                    </div>
                                    <div class="loading_contain">
                                        <div class="loading"></div>
                                        <div class="loading" style="width:100px"></div>
                                    </div>
                                </div> -->
                                
                            </div>
                            <div class="intro-template" id="intro-template">
                                <span style="font-size: 35px;font-weight: 500;color: white;">How can we <span class="name" style="font-size: 35px;font-weight: 400;">assist </span> you?</span>
                                <div style="font-size: 15px;color: #767676;width:500px;text-align: center;">
                                    <span>Get expert guidance powered by AI Negotio specializing in Yoga Bhagavad Gita, and Negotiation. Know your sologa that suits your needs and start your conversation with ease.</span>
                                </div>
                                <div class="card-holder">
                                    <div class="card-template" onclick="sendTemplateText('Lord Krishna')">
                                        <div style="display: flex;justify-content: space-between;height:80px">
                                            <span style="font-size: 18px;width:150px;color: #C2C2C2;font-weight: 500;">Build your
                                                self confidence </span>
                                            <img src="../static/img/redirect.png">
                                        </div>
                                        <span style="font-size: 11px;color:#B1B1B1">Discover the best thing in the world to showcase your properties.</span>
                                    </div>
                                    <div class="card-template" onclick="sendTemplateText('Lord Krishna')">
                                        <div style="display: flex;justify-content: space-between;height:80px">
                                            <span style="font-size: 18px;width:150px;color: #C2C2C2;font-weight: 500;">Build your
                                                self confidence </span>
                                            <img src="../static/img/redirect.png">
                                        </div>
                                        <span style="font-size: 11px;color:#B1B1B1">Discover the best thing in the world to showcase your properties.</span>
                                    </div>
                                    <div class="card-template" onclick="sendTemplateText('Lord Krishna')">
                                        <div style="display: flex;justify-content: space-between;height:80px">
                                            <span style="font-size: 18px;width:150px;color: #C2C2C2;font-weight: 500;">Build your
                                                self confidence </span>
                                            <img src="../static/img/redirect.png">
                                        </div>
                                        <span style="font-size: 11px;color:#B1B1B1">Discover the best thing in the world to showcase your properties.</span>
                                    </div>
                                    <div class="card-template" onclick="sendTemplateText('Lord Krishna')">
                                        <div style="display: flex;justify-content: space-between;height:80px">
                                            <span style="font-size: 18px;width:150px;color: #C2C2C2;font-weight: 500;">Build your
                                                self confidence </span>
                                            <img src="../static/img/redirect.png">
                                        </div>
                                        <span style="font-size: 11px;color:#B1B1B1">Discover the best thing in the world to showcase your properties.</span>
                                    </div>
                                                               
                                </div>
                            </div>
                        </div>
                        <div class="total-input-box">
                            <button>
                                <img src="../static/img/file.png">
                            </button>
                            <input type="text" id="sendText">
                            <button style="background-color: transparent;">
                                <img src="../static/img/mic.png">
                            </button>
                            <button id="submit">
                                <img src="../static/img/arrow.png">
                            </button>
                        </div>
                    </div>
                    <div class="voice content-section" id="voice" data-section="voice" >voice</div>
                    <div class="about content-section" id="about" data-section="about" >
                        <div class="about-template" style="background:linear-gradient(to left,transparent,rgb(33, 32, 32));">
                            <div style="width:100px;height:100px;">
                                <img src="../static/img/sabari.jpeg">
                            </div>
                            <div style="display: flex;justify-content: center;flex-direction: column;gap:10px;width:400px;height:90%">
                                <span style="font-size: 40px;font-weight: 600; color: white;">Sabari Vadivelan S</span>
                                <span style="font-size: 18px;font-weight: 500;color:gold">AI/ML Developer</span>
                            </div>
                        </div>
                        <div class="about-template" style="background:linear-gradient(to right,transparent,rgb(33, 32, 32));">
                            <div style="display: flex;justify-content: center;align-items:flex-end;flex-direction: column;gap:10px;width:400px;height:90%">
                                <span style="font-size: 40px;font-weight: 600; color: white;">Uvarajan D</span>
                                <span style="font-size: 18px;font-weight: 500;color:gold">Middleware Developer</span>
                            </div>
                            <div style="width:100px;height:100px;">
                                <img src="../static/img/ulogo.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="contact_us content-section" id="contact_us" data-section="contact_us">
                        <div class="about-template" style="background:linear-gradient(to left,transparent,rgb(33, 32, 32));">
                            <div style="width:100px;height:100px;">
                                <img src="../static/img/sabari.jpeg">
                            </div>
                            <div class="hover-effect" style="display: flex;justify-content: space-evenly;align-items: center;flex-direction: row;gap:10px;width:400px;height:90%">
                                <a href="https://github.com/Sabari2005" target="_blank" data-tooltip="GitHub">
                                    <img src="../static/img/github-ico.png" style="height:40px;width:40px;object-fit: contain;">
                                </a>
                                <a href="https://www.linkedin.com/in/sabari-vadivelan-s" target="_blank" data-tooltip="LinkedIn">
                                    <img src="../static/img/in.png" style="height:40px;width:40px;object-fit: contain;">
                                </a>
                                <a href="mailto:sabari132005@gmail.com" data-tooltip="Email">
                                    <img src="../static/img/mail.png" style="height:40px;width:40px;object-fit: contain;">
                                </a>
                            </div>
                        </div>
                        <div class="about-template" style="background:linear-gradient(to right,transparent,rgb(33, 32, 32));">
                            <div class="hover-effect" style="display: flex;justify-content: space-evenly;align-items: center;flex-direction: row;gap:10px;width:400px;height:90%">
                                <a href="https://github.com/UVARAJAND" target="_blank" data-tooltip="GitHub">
                                    <img src="../static/img/github-ico.png" style="height:40px;width:40px;object-fit: contain;">
                                </a>
                                <a href="https://www.linkedin.com/in/uvarajan-dev" target="_blank" data-tooltip="LinkedIn">
                                    <img src="../static/img/in.png" style="height:40px;width:40px;object-fit: contain;">
                                </a>
                                <a href="mailto:uvarajandev@gmail.com" data-tooltip="Email">
                                    <img src="../static/img/mail.png" style="height:40px;width:40px;object-fit: contain;">
                                </a>
                            </div>
                            <div style="width:100px;height:100px;">
                                <img src="../static/img/ulogo.jpg">
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </body>
    <script src="../static/js/index.js"></script>
</html>